<footer id="footer_for_all_pg"  >


    <div id="content_main_div">

      <div id="company_logo_footer">
          <img src="/static/company_logo_with_name.png" id="company_logo_footer_img_tag" alt="company logo" >
      </div>

      <div id="footer_TandC">
        <h3 class="footer_h3">
          rentyourstay.in All rights reserverd
        </h3>
        <h3 class="footer_h3">
         <a class="terms_policy" href="/terms&conditions">Terms & Condition</a> | <a class="terms_policy" href="/privacy-policy">Privacy Policy</a> | <a class="terms_policy" href="">Contact Us</a> 
        </h3>

        <style>
          .terms_policy{
            text-decoration:none;
        

          }

        </style>
      </div>

      <div id="social_media_icons">
          <a href=""><img src="/static/instagram.png" class="icon_image" alt="insta"></a>
          <a href=""><img src="/static/whatsapp.png" class="icon_image" alt="WA"></a>
          <a href=""><img src="/static/linkedin.png" class="icon_image" alt="LinkedIn"></a>
          <a href=""><img src="/static/telegram.png" class="icon_image" alt="Telegram"></a>
      </div>


    
    </div>
    
   
  </footer>

